* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	width: 100%;
	height: 150px;
	background-color: black;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}

header img {
	height: 50px;
	padding: 45px 0px 0px 35px;
}

nav {
	height: 150px;
	width: 500px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 35px;
}

nav ul li {
	display: inline;
}

nav ul a {
	padding-left: 45px;
	color: white;
	text-decoration: none;
	display: inline;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	opacity: 0.75;
}

nav ul a:hover {
	opacity: 1;
}	

#banner {
	width: 100%;
	height: 350px;
	position: fixed;
	top: 150px;
	background-image: url("../img/mission2.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mission {
	height: 130px;
	width: 1000px;
	background-color: black;
	opacity: 0.75;
	border-radius: 5px;
	text-align: center;
}

#mission h2 {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: white;
	padding-top: 25px;
}

#mission p {
	font-family: Raleway, sans-serif;
	font-size: 21px;
	color: white;
	padding-top: 10px;
}

#content {
	width: 100%;
	height: 1460px;
	position: relative;
	top: 500px;
	background-color: #F5F5F5;
	text-align: center;
}

#content h2 {
	font-family: Raleway, sans-serif;
	font-size: 30px;
	color: black;
	padding-top: 25px;
}

#content p {
	font-family: Raleway, sans-serif;
	font-size: 21px;
	color: black;
	padding-top: 10px;
	padding-bottom: 25px; 
}

#first-wrapper {
	height: 247px;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.teaimg {
	height: 200px;
	width: 300px;
	box-shadow: 10px 10px 5px grey;
}

.teaimgheading h3 {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: black;
	padding-top: 20px;
	font-weight: 400;
}

.teaimg img {
	height: 200px;
	width: 300px;
}

#second-wrapper {
	height: 247px;
	width: 1000px;
	margin: 20px auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.teaimgsecond {
	height: 200px;
	width: 300px;
	box-shadow: 10px 10px 5px grey;
	margin-right: 25px;
	margin-left: 25px;
}

.teaimgheadingsecond h3 {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: black;
	padding-top: 20px;
	font-weight: 400;
}

.teaimgsecond img {
	height: 200px;
	width: 300px;
}

#locations {
	height: 500px;
	width: 100%;
	margin-top: 25px;
	background-image: url("../img/locationscover.jpg");
	background-size: cover;
}

#locations-wrapper {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.locations-frame {
	width: 300px;
	height: 300px;
	background-color: black;
	opacity: 0.75;
	border-radius: 5px;
	text-align: center;
}

.locations-frame h3 {
	font-family: Raleway, sans-serif;
	font-size: 25px;
	color: white;
	padding-top: 25px;
}

.locations-frame h4 {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: white;
	font-weight: 400;
	padding-top: 10px;
	line-height: 75px;
}

footer {
	height: 300px;
	width: 100%;
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer-wrapper {
	height: 130px;
	width: 500px;
}

#footer-media {
	height: 65px;
	width: 500px;
}

#footer-media img {
	height: 45px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

#footer-media p {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	color: black;
}

.icon {
	opacity: 1;
}

.icon:hover {
	opacity: 0.7;
}

#footer-text {
	height: 65px;
	width: 500px;
}

#copyright {
	height: 10px;
	width: 100%;
	margin-top: 95px;
}

#copyright p {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	color: black;
}